<div fxLayout="row wrap" fxLayoutAlign="space-between">
  <mat-form-field>
    <mat-label>Year</mat-label>
    <mat-select [(value)]="selectedYear" (valueChange)="fetchModelsAndResetPage()">
      <mat-option>None</mat-option>
      <mat-option [value]="year" *ngFor="let year of years">{{
        year
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Year</mat-label>
    <mat-select [(value)]="selectedMake" (valueChange)="fetchModelsAndResetPage()">
      <mat-option>None</mat-option>
      <mat-option [value]="make" *ngFor="let make of makes">{{
        make
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button (click)="fetchModels()" mat-button>
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor"
        d="M17.65,6.35C16.2,4.9 14.21,4 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20C15.73,20 18.84,17.45 19.73,14H17.65C16.83,16.33 14.61,18 12,18A6,6 0 0,1 6,12A6,6 0 0,1 12,6C13.66,6 15.14,6.69 16.22,7.78L13,11H20V4L17.65,6.35Z" />
    </svg>
    refresh</button>
  <button (click)="prevPage()" mat-button [disabled]="!hasPrev">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
    </svg>
    previous
  </button>
  <button (click)="nextPage()" mat-button [disabled]="!hasNext">next
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
    </svg>
  </button>
</div>

<div fxLayout="row" fxLayoutAlign="space-between">
  <table mat-table [dataSource]="models" class="mat-elevation-z8" style="width: 100%">
    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef>Model</th>
      <td mat-cell *matCellDef="let element">{{ element.model }}</td>
    </ng-container>

    <ng-container matColumnDef="make">
      <th mat-header-cell *matHeaderCellDef>Make</th>
      <td mat-cell *matCellDef="let element">{{ element.make }}</td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef>Year</th>
      <td mat-cell *matCellDef="let element">{{ element.year }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
